body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.menu-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: #ffffff;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#score-container {
    position: relative;
    margin: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="number"], select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 60px; /* Unified width for input boxes */
}

.main-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editor-container-wrapper {
    position: relative;
}

#editor-container {
    display: grid;
    justify-content: start; 
    direction: rtl; 
    border: 2.4px solid #000;
    margin: 20px auto;
    padding: 0 40px 0 0;
    grid-gap: 0; /* Remove gap between jeonggan cells */
}

.jeonggan {
    position: relative;
    border: 1px solid black; /* Lighten the border color */
    width: 72px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    direction: ltr;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    border-radius: 4px; /* Rounded corners */
}

.jeonggan:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: grey;
}

button {
    background-color: #5a67d8;
    color: white;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 6rem;
}

button:hover {
    background-color: #434190;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: none;
}

.row-separator {
    grid-column: 1 / -1;
    height: 8px;
    border: 1.8px solid g; /* Lighten the separator color */
    width: calc(100% + 40px); /* Added to fit width including padding */
    transform: translateX(40px); /* Align to left edge of container */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #editor-container {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
