body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.menu-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

#score-container{
  position: relative;
  margin: 40px;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  margin: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
    margin-right: 10px; /* Spacing between label and input */

}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="number"], select, button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.main-container {
  background-color: #fff;
  padding: 20px;
}

#editor-container {
  display: grid;
  margin-top: 20px; /* Adds some space between the menu bar and the editor container */
  justify-content: start; /* Aligns content to the start which is now the right due to RTL */
  direction: rtl; /* Keeps the direction right-to-left */
  border: 1px solid #000;
  margin: 20px auto;

}

.jeonggan {
  position: relative;
  border: 1px solid #000;
  width: 80px; /* Fixed width for cells */
  height: 100px; /* Fixed height for cells */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: text; /* Change cursor to indicate editable */
  flex-direction: column;
  text-align: center; /* Center text horizontally for consistency */
  font-size: 20px;
  background-color: #fff;
}


button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Add this to your existing CSS */
.row-separator {
  grid-column: 1 / -1; /* Span across all columns */
  height: 2px;
  border : 1.5px solid #000;
  /* background-color: black; */
  width: 100%;
}
